
  body {
    background-image: url('final5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:white;
  }


  